   body{

   background-image: url(https://wallpaperaccess.com/full/449903.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    }

hr{
   
    border-style: dotted none none;
    border-width: 5px;
    border-color:rgb(107, 103, 105);
    height: 0px;
    width: 5%;
   
    
  }
  h1{
      color: rgb(8, 54, 49);
      font-variant: small-caps;
  }
  h3{
    color: rgb(8, 54, 49);
  }
   
  .study{
      border-style: none dotted ;
      border-width: thick;
      border-color: rgb(0, 0, 0);
     
  }

  td{
      border-style: none;
  }

  th{
    border-style: none;
}

.contactdp{
  border-radius: 45%;
}
.contactme{
  color: darkgreen;
 font-style: italic;
}

input[type=text] {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  
}

input[type=email] {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  
  
}

textarea[name=YourMessage] {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  
}